@import '../../assets/styles/variables.scss';

body {
    font-family: $main-font;
    font-weight: 400;
}

.apartament-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.errorMessage {
    color: red;
}

.create-property-btn {
    margin: 20px 0;
}

.inputError {
    border: 1px solid red;
}

.form-label {
    margin-bottom: 0;
}

.col-lg-6 {
    margin-bottom: 10px;
}

.title {
    margin: 10px 0;
    padding: 0 12px;
    font-size: 28px;
}

.info {
    font-style: italic;
    margin: 10px 0;
}

.address-list {
    margin: 10px 0;
}

.existing-addresses {    
    table {
        margin :0;
    }
}

.buttons {
    width: 100%;
    margin: 20px 0;
    padding: 0;

    Button {
        width: 100%;
        // margin-right: 20px;
    }
}

.residentals-form {
    margin: 20px 0;
}

.residents {
    input {
        margin-right: 20px;
    }
}

.delete-icon {
    color: red;
    cursor: pointer;
}

.required-field {
    color: red;
}

.create-address-form {
    margin-top: 50px;
}

table {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    // border-radius: 10px;
    border: 1px solid #e1e1e1;
    border-collapse: unset;
    width: 100%;
    background-color: white;
    margin-top: 50px;

    tr {
        
        margin: 0;
        width: 100%;
    }

    tr { background-color: rgba(244,243,239,255);}
    tr:nth-child(2n+1) { background: white; }
    th {
        padding: 7px 5px;
        margin: 0;
        border-bottom: 1px solid #e1e1e1;
        background: rgba(244,243,239,255);
    }

    td {
        padding: 5px;
        width: 50%;

        input {
            // border: none;
            border: 1px solid #f0eded;
            border-radius: 7px;
            padding: 5px;
        }
    }

    button {
        background: #e1e1e1;
        border: 1px solid #f1f1f1
    }
}

/* CREATE ADDRESS */
.create-address-service-buttons {
    display: flex;
}

/* APARTAMENT DETAILS */
.apartament-details-buttons {
    display: flex;
    justify-content: space-between;
}


@media (max-width: 768px) {
    .apartament-list {
        justify-content: center;
    }

    .row {
        width: 100%;
    }
}